# Heatmap for Observed vs Expected

We are going to use the [Bandler et al.](https://github.com/mayer-lab/Bandler-et-al_lineage/tree/main) code as is to estimate the expected rleations between clusters and then make a heatmap of observed vs expected.

In [1]:
pwd

'C:\\Users\\sandeh\\OneDrive - Karolinska Institutet\\copy_lineage_tracing_ear\\src'

In [2]:
import pathlib
import pandas as pd

## Data input preparation

Bandler et al takes a CSV file with only two rows (cloneID and cell type) as input.

In [3]:
DATA_DIR = pathlib.Path('../results/Sept2023')

In [6]:
# df = pd.read_excel(DATA_DIR / 'Upset_Trex_mt10dim40_SCT_clone_sub2.xlsx')
df = pd.read_csv(DATA_DIR / 'clonalcoupling2802.csv', sep=";")

In [7]:
df

      seurat_clusters  cloneID
0                  22      316
1                  22      101
2                  22      798
3                  22      529
4                  22      529
...               ...      ...
8815                0      458
8816                0      458
8817                0      458
8818                0      458
8819                0      458

[8820 rows x 2 columns]

In [8]:
new_df = df[['cloneID', 'seurat_clusters']].rename(columns={'seurat_clusters': 'ident'})

In [9]:
new_df

      cloneID  ident
0         316     22
1         101     22
2         798     22
3         529     22
4         529     22
...       ...    ...
8815      458      0
8816      458      0
8817      458      0
8818      458      0
8819      458      0

[8820 rows x 2 columns]

In [10]:
new_df.to_csv(DATA_DIR / 'for_bandler_1802.csv')

## Run Bandler

In [11]:
!mkdir Results

A subdirectory or file Results already exists.

In [12]:
!dir ..\results\Sept2023\

 Volume in drive C is OSDisk
 Volume Serial Number is E8B0-185F

 Directory of C:\Users\sandeh\OneDrive - Karolinska Institutet\copy_lineage_tracing_ear\results\Sept2023

2024-06-06  10:02    <DIR>          .
2024-06-06  10:02    <DIR>          ..
2024-06-05  13:06           (5 578) apexmidbaseonly.csv
2024-03-04  21:04          (12 738) clonalcoupling0403_floorminusko.csv
2024-03-04  13:26          (68 105) clonalcoupling0403_nomp.csv
2024-03-04  13:50          (46 846) clonalcoupling0403_nompnoglia.csv
2024-03-04  14:44          (41 857) clonalcoupling0403_nompnoglia_SVISVMRMSGN.csv
2024-02-28  15:07            68 403 clonalcoupling2802.csv
2024-04-08  14:20          (46 881) clonalcouplingminusMPandMPclones0804.csv
2023-09-07  15:24       (1 094 790) cloneID info.xlsx
2023-09-07  13:19          (85 665) Couplingallclusters.csv
2024-03-01  16:43          (13 117) for_bandler_0103.csv
2024-03-01  15:51          (20 377) for_bandler_0103_KO.csv
2023-09-07  13:19         (140 759) for_bandler_02.csv
2023-09-07  13:57         (140 747) for_bandler_03.csv
2023-09-07  15:24         (138 794) for_bandler_04.csv
2024-03-04  13:26         (110 903) for_bandler_0403.csv
2024-03-04  13:51          (76 049) for_bandler_0403_2.csv
2024-03-04  14:44          (68 015) for_bandler_0403_3.csv
2024-04-08  13:56          (19 346) for_bandler_0403_4.csv
2024-04-30  11:25          (76 104) for_bandler_0804.csv
2024-12-06  14:23         (111 381) for_bandler_1802.csv
2024-02-27  15:21         (110 929) for_bandler_2702.csv
2024-03-04  12:09         (111 381) for_bandler_2802.csv
2024-06-06  09:05           (8 351) for_bandler_3004.csv
2024-06-04  10:12           (8 678) tonoall.csv
2024-06-05  17:39           (5 990) tonoall_HC.csv
2024-06-04  13:43           (7 263) tonoall_IHCOHCOPCDC3.csv
2024-06-04  12:35           (8 230) tonoall_noIPC.csv
2024-06-04  10:20           (6 450) tonoall_onlyDCOHCOPC.csv
2024-05-29  17:53           (7 932) tonoapexbase.csv
2024-06-04  09:32           (7 109) tonoapexbasenoIHC.csv
2024-06-05  17:15           (6 116) tonoapexbase_HC.csv
2024-06-04  13:25           (7 476) tonoapexbase_IHCOPCOHCDC3.csv
2024-06-05  17:09           (7 393) tonoapexbase_IHCOPCOHCDC3_noIHCapex.csv
2024-06-04  11:47           (8 965) tonoapexbase_incIphc.csv
2024-06-04  12:27           (8 509) tonoapexbase_noIPC.csv
2024-06-06  10:02           (9 135) tonoapexbase_OPCOHCDC3.csv
2024-05-01  16:07           (4 850) tonotopy.csv
2024-05-03  11:54           (4 524) Tonotopy0305.csv
2024-05-01  14:54           (6 706) tonotopycelltype.csv
2024-04-30  15:37           (4 715) tonotopycelltype_nomid.csv
2024-05-01  16:14             (901) tonotopyIHC.csv
2024-05-01  16:27           (6 054) tonotopyIHCOHC.csv
2024-05-01  16:17           (5 172) tonotopyOHC.csv
2024-05-14  10:31           (3 745) Tonotopy_0305.csv
2024-05-06  09:08           (3 800) Tonotopy_0605.csv
2024-05-07  14:23           (3 750) Tonotopy_0605_2.csv
2024-05-21  11:11           (3 753) Tonotopy_2105.csv
              47 File(s)      2 764 332 bytes
               2 Dir(s)   9 829 388 288 bytes free

In [ ]:
!python "Bandler-et-al_lineage/Lineage Coupling Analysis/2_lineage_coupling_analysis.py" -f ../results/Sept2023/for_bandler_1802.csv -N 10000