# Heatmap for Observed vs Expected

We are going to use the [Bandler et al.](https://github.com/mayer-lab/Bandler-et-al_lineage/tree/main) code as is to estimate the expected rleations between clusters and then make a heatmap of observed vs expected.

In [1]:
pwd

'C:\\Users\\sandeh\\OneDrive - Karolinska Institutet\\lineage_tracing_ear\\src'

In [2]:
import pathlib
import pandas as pd

## Data input preparation

Bandler et al takes a CSV file with only two rows (cloneID and cell type) as input.

In [3]:
DATA_DIR = pathlib.Path('../results/Sept2023')

In [19]:
# df = pd.read_excel(DATA_DIR / 'Upset_Trex_mt10dim40_SCT_clone_sub2.xlsx')
df = pd.read_csv(DATA_DIR / 'Clonalcoupling1802.csv', sep=";")

In [20]:
df

       seurat_clusters  cloneID
0                    0       14
1                    0       14
2                    0       14
3                    0       17
4                    0       18
...                ...      ...
10120               22      450
10121               22      529
10122               22      529
10123               22      798
10124               22     1059

[10125 rows x 2 columns]

In [21]:
new_df = df[['cloneID', 'seurat_clusters']].rename(columns={'seurat_clusters': 'ident'})

In [22]:
new_df

       cloneID  ident
0           14      0
1           14      0
2           14      0
3           17      0
4           18      0
...        ...    ...
10120      450     22
10121      529     22
10122      529     22
10123      798     22
10124     1059     22

[10125 rows x 2 columns]

In [23]:
new_df.to_csv(DATA_DIR / 'for_bandler_1802.csv')

## Run Bandler

In [24]:
!mkdir Results

A subdirectory or file Results already exists.

In [25]:
!dir ..\results\Sept2023\

 Volume in drive C is OSDisk
 Volume Serial Number is E8B0-185F

 Directory of C:\Users\sandeh\OneDrive - Karolinska Institutet\lineage_tracing_ear\results\Sept2023

2024-02-18  20:48    <DIR>          .
2024-02-18  20:48    <DIR>          ..
2024-02-18  20:48            78 593 Clonalcoupling1802.csv
2023-09-07  15:24         1 094 790 cloneID info.xlsx
2023-09-07  13:19            85 665 Couplingallclusters.csv
2023-09-07  13:29            86 169 Coupling_minMP_mincloneID0.csv
2023-09-07  15:03            85 214 Coupling_minSGNcont_mincloneID0.csv
2023-09-07  15:12            84 522 Coupling_minSGNcont_minMP_mincloneID0.csv
2023-09-07  15:24            84 522 Coupling_minSGNcont_minMP_mincloneID0_SGNcombined.csv
2023-09-07  13:19           140 759 for_bandler_02.csv
2023-09-07  13:57           140 747 for_bandler_03.csv
2023-09-07  15:24           138 794 for_bandler_04.csv
2024-02-18  20:48           128 221 for_bandler_1802.csv
              11 File(s)      2 147 996 bytes
               2 Dir(s)  47 335 489 536 bytes free

In [26]:
!python "Bandler-et-al_lineage/Lineage Coupling Analysis/2_lineage_coupling_analysis.py" -f ../results/Sept2023/for_bandler_1802.csv

Run 'python lineage_coupling_analysis.py -h' for displaying usage.
Filtering clones with less than 1 cells.
Originally there are 10125 rows and 2250 clones.
0 deleted rows of 0 clones.
Total examined rows: 10125.
Writing numbers of shared clones per pair into csv file 'Results/num_shared_clones_matrix.csv'
Writing numbers of cells of shared clones in pairs into csv file 'Results/num_cells_of_shared_clones_matrix.csv'
Writing metric values per pair into csv file 'Results/metric_values_per_state_pair_matrix.csv'
Computing lineage coupling scores for data in '../results/Sept2023/for_bandler_1802.csv', with 100 shufflings, clustermap_minimum -5.0, and clustermap_maximum 5.0
Figure(1000x1000)
Figure(1000x1000)